{% extends "layout.html" %}

{% block jsfile %}
    <script src="{{ url_for('static', filename='cs50.js') }}"></script>
{% endblock %}

{% block title %}
    Recicla MX - Centro de Reciclaje en México.
{% endblock %}

{% block main %}
    <div class="container" id="cs50">
        <div class="row">
            <div class="col-md-12">
                <h3>CS50 Alumni</h3>
                <div id="captchacs50">
                Esta área está dirigida para integrantes del programa CS50, por favor ignore esta sección. <br>
                This area is intended for CS50 Alumni. Please ignore if you are a regular user.
                <hr>
                    <p>
                    <strong>Captcha</strong>
                    <br>
                    Please provide answer to the following phrases to see the complete information of the development of this project.
                    </p>
                    <div id="captchaform">
                        <div id="alertarea"></div>
                        <h3>Nam, Namy, Name:</h3>
                        <form id="cs50entry">
                            <input type="text" name="firstnamecaptcha" id="firstnamecaptcha" required="true"> J. <input type="text" name="lastnamecaptcha" id="lastnamecaptcha" required="true">

                            <h3>Is? Was? We are?:</h3>
                            <input type="text" name="secondphraseone" id="secondphraseone" required="true"> is <input type="text" name="secondphrasetwo" id="secondphrasetwo" required="true"> 50
                            
                            <br><br>
                            <button type="submit" class="btn btn-default">Check</button>
                        </form>
                        
                    </div>
                </div>

                <div id="infocs50">
                </div>

            </div>
        </div>
    </div>
{% endblock %}